main h2 {
    font-size: 20px;
    color: var(--dsct-color-font-secondary);
    text-align: center;
    padding: 25px 25px 0px 25px;
}

#dsct-comment-section {
    background-color: var(--dsct-color-bg-tertiary);
    padding-bottom: 25px;
}

#dsct-comment-section h2 {
    margin-bottom: 25px;
}

@media (width >=746px) {
    main h2 {
        font-size: 32px;
    }
}