@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --dsct-color-bg-primary: #fff;
  --dsct-color-bg-secondary: #3C9AF0;

  --dsct-color-font-primary: #fff;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dsct-color-bg-primary);
}