@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --dsct-color-bg-primary: #fff;
  --dsct-color-bg-secondary: #3C9AF0;
  --dsct-color-bg-tertiary: #c8c8c8;

  --dsct-color-font-primary: #fff;
  --dsct-color-font-secondary: #5e5e5e;
  --dsct-color-font-tertiary: #3c9af0;

  --dsct-color-border: #3c9af0;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dsct-color-bg-primary);
}

.dsct-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}