#dsct-car-card-section {
    margin: 25px 20px;
}

.dsct-car-card-container {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
}

.dsct-car-card-container img {
    width: 260px;
    margin-bottom: 10px;
}


.dsct-car-card-content {
    border: 1px solid var(--dsct-color-border);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.dsct-car-card-content h3 {
    font-size: 16px;
    color: var(--dsct-color-font-secondary);
}

@media (width >=746px) {
    .dsct-car-card-content h3 {
        font-size: 20px;
    }

    .dsct-car-card-container {
        max-width: 746px;
    }

    .dsct-car-card-container img {
        width: 391px;
    }
}